.header{
    background-color: orange;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hambergerImage{
    width: 50%;
    height: 100%;
}
.hamgerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}